@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}


.wrapper{
  width: 500px;
  margin: 80px auto 0;
}

.wrapper .accordion_wrap .accordion_header{
  width: 100%;
  height: 50px;
  background: #fff;
  padding: 15px;
  color: #991854; 
  font-weight: 700;
  border-bottom: 2px solid #d3287d;
  position: relative;
  cursor: pointer;
}
/* headernya */

.wrapper .accordion_wrap .accordion_header:hover{
  color: #f574b0; 
  border-color:  #8b064d;
  /* warna tulisan sblm diklik */
}

.wrapper .accordion_wrap .accordion_body{
  width: 100%;
  height: 0px;
  transition: all 0.5s ease;
  background: #fca9c2;
  overflow: hidden;
}
/* tampilan keterangan muncul */

.wrapper .accordion_wrap .accordion_body p{
  padding: 15px;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
}
/* etyle keterangan */

.wrapper .accordion_wrap .accordion_header.active + .accordion_body{
  height: 180px;
}
/* tampilan keterangan dropdown */

div.content {
  max-width: 100%;
}


