{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Status Pulau {{ pulau }}</title>
{% endblock meta %}

{% block footer_style %}relative{% endblock %}

{% block content %}

<div class="d-flex flex-column my-3 berita-content">
  <h1 style="text-align: center;"> Provinsi {{ prov.nama }}</h1>
    
  <div class="card my-5 border-custom">
    <div class="card-body p-5">
      <h3 class="card-title"></h3>
      
      <div class="card my-3 border-custom2">
        <div class="card-body child-card">
            <p class="card-text">Protokol: <br>{{ info.protokol_kesehatan }}</p>
            {% for website in info.website_pemda.all %}
            <p class="card-text">Website: <br><li><a href="{{website.alamat}}" target="_blank" class="card-link">{{website.alamat}}</a></li></p>
            {% endfor %}
            {% for email in info.email_pemda.all %}
            <p class="card-text">Alamat Email: <br><li>{{ email.email }}</li></p>
            {% endfor %}
            {% for telpon in info.telpon_pemda.all %}
            <p class="card-text">No. Telpon: <br><li>{{ telpon.nomor_telpon }}</li></p>
            {% endfor %}
        </div>
      </div>
      <p class="float-right"><a href="/status/{{ prov.nama_pulau }}/" class="btn btn-dark btn-rounded" role="button">Back</a></p>
    </div>
  </div>
  
</div>
{% endblock content %}
