{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Status</title>
{% endblock meta %}

{% block footer_style %}relative{% endblock %}

{% block content %}
<div class="d-flex flex-column my-3 berita-content">
  <h1 style="text-align: center;"> Status Ketersediaan Data </h1>

  <div class="card my-5 border-custom">
    <div class="card-body p-5">
      <h5 class="card-title">Kategori data yang ingin ditampilkan</h5>
      <form action="/status/" method="post">
        {% csrf_token %}
        {{ form }}
        <p class="float-right"><input class="btn btn-dark btn-rounded" type="submit" value="Submit"></p>
      </form>
      
    </div>
  </div>
</div>
{% endblock content %}
